body {
  margin: 0 auto;
  font-family: Calibri;
}

#wrap {
  height: auto;
  margin: 0 auto;
  background: #fff;
  padding: 0 20px 50px;
}

a {
  color: #37b0fa;
  text-decoration: underline;
}

button {
  background: #37b0fa;
  padding: 10px 15px;
  font-size: 90%;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  border: 1px black solid;
}