#field {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    min-width: 1024px;
    min-height: 1024px;
}

#event_form {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 10px;
    border-left: 2px rgba(0, 0, 0, 0.7) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.7) solid;
}

#events_info {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 10px 35px 10px 10px;
    border-left: 2px rgba(0, 0, 0, 0.7) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.7) solid;
}

#events_info_data {
    max-height: 500px;
    overflow-y: scroll;
}

#events_info article {
  margin-bottom: 10px;
}

#events_info img.avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#events_info div.right_info {
  margin-left: 60px;
  width: 250px;
}

#events_info div.right_info h1 {
  margin-bottom: 2px;
  font-weight: bold;
}

#events_info div.right_info h1 a {
  text-decoration: none;
  color: black;
}

#events_info div.right_info date {
  margin-bottom: 5px;
  display: block;
  font-style: italic;
  font-size: 80%;
}

#events_info div.right_info p {

}

#map {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    min-width: 1024px;
    min-height: 1024px;
}

#container {
    display: inline-block;
    width: 1200px;
    height: 1024px;
    position: relative;
}

#event_form_close, #events_info_close {
  width: 25px;
  height: 25px;
  background: darkred;
  border-radius: 0;
  padding: 0;
  border: 0;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

#layers label {
   display: inline-block;
}