#wrap {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

#upload_photo button.upload, #resize_photo button.go_end {
  margin: 20px auto;
  display: block;
  background: #37b0fa;
  padding: 10px 15px;
  font-size: 90%;
  cursor: pointer;
  color: white;
  border: 0;
}